body{

    background-color: black
    }

    h1 {
        color:rgb(255, 147, 46);
        text-align: center;
    }
    
    .top-text{
        color:rgb(255, 147, 46)
    }
    a{
        color:rgb(255, 147, 46);
        font-size: larger;
    }
    img {
        width: 500px;
        height: 700px;
        object-fit: cover;
        border-radius: 10px;